<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorRegistroVotante</servlet-name>
        <servlet-class>controlador.ControladorRegistroVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInicioSesion</servlet-name>
        <servlet-class>controlador.ControladorInicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorListadoCenso</servlet-name>
        <servlet-class>controlador.ControladorListadoCenso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBajaVotante</servlet-name>
        <servlet-class>controlador.ControladorBajaVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificarDatos</servlet-name>
        <servlet-class>controlador.ControladorModificarDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVotar</servlet-name>
        <servlet-class>controlador.ControladorVotar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCargarDatosVistaVotar</servlet-name>
        <servlet-class>controlador.ControladorCargarDatosVistaVotar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAsignarEscaños</servlet-name>
        <servlet-class>controlador.ControladorAsignarEscaños</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEscrutinio</servlet-name>
        <servlet-class>controlador.ControladorEscrutinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorConsulta</servlet-name>
        <servlet-class>controlador.ControladorConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorMostrarResultadoVotos</servlet-name>
        <servlet-class>controlador.ControladorMostrarResultadoVotos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorMostrarResultadoElegidos</servlet-name>
        <servlet-class>controlador.ControladorMostrarResultadoElegidos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorRegistroVotante</servlet-name>
        <url-pattern>/ControladorRegistroVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInicioSesion</servlet-name>
        <url-pattern>/ControladorInicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorListadoCenso</servlet-name>
        <url-pattern>/ControladorListadoCenso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBajaVotante</servlet-name>
        <url-pattern>/ControladorBajaVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificarDatos</servlet-name>
        <url-pattern>/ControladorModificarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVotar</servlet-name>
        <url-pattern>/ControladorVotar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCargarDatosVistaVotar</servlet-name>
        <url-pattern>/ControladorCargarDatosVistaVotar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAsignarEscaños</servlet-name>
        <url-pattern>/ControladorAsignarEsca_os</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEscrutinio</servlet-name>
        <url-pattern>/ControladorEscrutinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorConsulta</servlet-name>
        <url-pattern>/ControladorConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorMostrarResultadoVotos</servlet-name>
        <url-pattern>/ControladorMostrarResultadoVotos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorMostrarResultadoElegidos</servlet-name>
        <url-pattern>/ControladorMostrarResultadoElegidos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
